* {
	margin: 0;
	padding: 0;
    font-weight: normal;
}

// Fonts -----------------------------------------------------------
@font-face { font-family: 'Geologica Bold'; src: url("./fonts/Geologica-Bold.ttf");}
@font-face { font-family: 'Geologica Medium'; src: url("./fonts/Geologica-Medium.ttf");}
@font-face { font-family: 'Geologica Regular'; src: url("./fonts/Geologica-Regular.ttf");}

$bold: 'Geologica Bold';
$medium: 'Geologica Medium';
$regular: 'Geologica Regular';

$large: 2rem;
$semiLarge: 1.5rem;
$normal: 1.25rem;
$small: 1rem;


body {
    background-image: url("./../velvet.webp");
    background-size: cover;
    background-color: rgba(21,102,131,0.70);
    background-blend-mode: lighten;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: $bold;
    font-size: $large;
}

$white: rgba(252,251,252,1);
$black: rgba(21,15,31,1);
$orange: rgba(255,215,148,1);

@mixin primary-button {
    background-color: $orange;
    color: $black;
    font-family: $bold;
    font-size: $semiLarge;
    border-style: none;
    border-radius: 6px;
    width: 100%;
    padding: 0.75rem 0rem;
    box-shadow: 0px 4px 0px 0px rgba(235,192,131,1);
    position: relative;
    transition: all ease-in-out 0.2s;

    &:active {
        background-color: rgba(235,192,131,1);
        box-shadow: none;
        transform: translateY(4px)
    }
}

@mixin keybind {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: $small;
    font-family: $medium;
}

@mixin body-container {
    max-width: 92%;
    margin: 0rem auto;
    // background-color: aqua;
    // border: 8px solid red;

    @media screen and (min-width: 992px) {
        max-width: 60%;
    }

    @media screen and (min-width: 1145px) {
        max-width: 45%;
    }

    @media screen and (min-width: 1300px) {
        max-width: 50rem;
    }
}