* {
	margin: 0;
	padding: 0;
    font-weight: normal;
}

// Fonts -----------------------------------------------------------
@font-face { font-family: 'Geologica Bold'; src: url("./fonts/Geologica-Bold.ttf");}
@font-face { font-family: 'Geologica Medium'; src: url("./fonts/Geologica-Medium.ttf");}
@font-face { font-family: 'Geologica Regular'; src: url("./fonts/Geologica-Regular.ttf");}

$bold: 'Geologica Bold';
$medium: 'Geologica Medium';
$regular: 'Geologica Regular';

$large: 2rem;
$semiLarge: 1.5rem;
$normal: 1.25rem;
$small: 1rem;
$minimum: 0.75rem;

body {
    background-size: cover;
    background-color: rgba(16, 81, 117, 1);
    background-blend-mode: lighten;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: $bold;
    font-size: $large;
    text-shadow: 0px 4px 0px rgba(0,0,0,0.25);
}

// Colors -----------------------------------------------------------
$black: rgba(21,15,31,1);
$white: rgba(252,251,252,1);
$white_darkened: rgba(188,204,215,1);
$orange: rgba(255,215,148,1);
$orange_darkened: rgba(235,192,131,1);
$blue: rgba(70,83,158,1);
$blue_darkened: rgba(52,66,146,1);
$navy: rgba(10,58,84);
$navy_darkened: rgba(9,52,75);
$red: rgba(215,63,71,1);
$red_darkened: rgba(151,48,53,1);
$green: rgba(0,128,85);
$green_darkened: rgba(2,104,70);
$purple: rgba(129,31,153);
$purple_darkened: rgba(109,24,130,1);

// Mixins -----------------------------------------------------------
@mixin body-container {
    max-width: 92%;
    margin: 0rem auto;

    @media screen and (min-width: 992px) {
        max-width: 60%;
    }

    @media screen and (min-width: 1145px) {
        max-width: 40%;
        padding-top: 1rem;
    }

    @media screen and (min-width: 1300px) {
        max-width: 40rem;
    }
}

@mixin options-container {
    width: 21.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: calc(10vh + 1rem);
    left: 50%;
    transform: translateX(-50%);
}

@mixin pop-up-container {
    color: $white;
    border: solid 6px $navy;
    background-color: $navy_darkened;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
    line-height: 1;
    gap: 0.25rem;
    width: 18rem;
    border-radius: 6px;
    padding: 0.75rem 0rem;
    position: fixed;
}