@use "./_shared" as *;

.game-container {
    @include body-container;
    & {
        height: 88vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    & .betting-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12rem; // Account for actions buttons + info-text margin

        & .info-text {
            color: $white;
            font-family: $medium;
            margin-bottom: 4rem;
            font-size: $semiLarge;
            height: 2rem;
        }

        & .deal {
            position: absolute;
            visibility: hidden;
            width: 21.5rem;
            bottom: 0;
            margin-bottom: calc(10vh + 8rem);

            &.visible {
                visibility:visible;
            }
        }

        & .chip-options {
            @include options-container;
            & {
                justify-content: flex-end;
            }
        }
    }
}