@use "./_shared" as *;

.game-container {
    @include body-container;
    & {
        height: 88vh;
    }
    & .cardplay-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            color: $white;
            font-family: $medium;
            margin-bottom: 7rem;
        }

        & .dealer-score {
            font-family: $medium;
            font-size: $small;
            color: $white;
        }

        & .player-hand {
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: solid 4px red;
            // margin-right: 1rem;

            .player-score {
                background-color: $white;
                color: $blue;
                font-size: $small;
                font-family: $medium;
                border-radius: 6px;
                padding: 0.25rem 0.5rem;
            } 
        }
        


        // & .deal {
        //     position: absolute;
        //     visibility: hidden;
        //     width: 21.5rem;
        //     bottom: 0;
        //     margin-bottom: calc(10vh + 8rem);

        //     &.visible {
        //         visibility:visible;
        //     }
        // }

        & .chip-options {
            @include options-container;
            & {
                justify-content: flex-end;
            }
        }
    }
}