@use "./_shared" as *;

.instructions-container {
    @include body-container;
	& {
		height: 88vh;
		display: flex;
		justify-content: center;
		align-items: center;
        flex-direction: column;
	}

    & .instructions-content {
        width: 100%;
        display: flex;
        text-align: left;
        color: $white;
        flex-direction: column;
        font-size: $small;

        & .header {
            color: $white;
            font-family: $bold;
            font-size: $normal;
        }

        & .ins-text {
            margin-top: 1rem;
            font-family: $medium;
            line-height: 1.1;

            & .end-note {
                font-style: italic;
                font-family: $regular;
                font-size: $minimum;
                color: $white_darkened;
            }
        }
    }
}