@use "./_shared" as *;

.menu-container {
	@include body-container;
	& {
		height: 88vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& .hero-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 3rem;
		margin: 0rem auto 6rem;
		color: $white;
		gap: 1rem;
		width: 100%
	}

	& .menu-options {
		@include options-container;
		& {justify-content: center;}

		& .icon{
			font-size: 1.75rem;
		}
	}
}