@use "./_shared" as *;

.menu-container {
	@include body-container;
	& {
		height: 88vh;
	}

	& .logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 3rem;
		margin: 2rem auto 1rem;
		color: $white;
	}

	& .menu-options {
		@include options-container;
		& {justify-content: center;}

		& .icon{
			font-size: 1.75rem;
		}
	}
}