@use "./_shared" as *;

@keyframes no-cash-pop-up{
    0% { opacity: 0; transform: translate(-50%,20vh); }
	15% { opacity: 1; transform: translate(-50%,-10px); }
    20% { opacity: 1; transform: translate(-50%,0); }
    80% { opacity: 1; transform: translate(-50%,0); }
    100% { opacity: 0; transform: translate(-50%,20vh); }
}

.out-of-cash-container {
    @include pop-up-container;
    & {
    z-index: 1500;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: no-cash-pop-up 2.5s ease-in-out;
    }

    & .phew {
        font-size: $normal;
        font-family: $medium;
    }

    & .handout {
        font-size: $small;
        font-family: $regular;
        margin-top: 0.25rem;
    }

    & .continue {
        font-size: $minimum;
        font-family: $regular;
        margin-top: 0.25rem;
    }
}