@use "./_shared" as *;

@keyframes appear {
    0% { transform: translate(-50%,-70vh); }
	60% { transform: translate(-50%,10px); }
    100% { transform: translate(-50%, -40%); }
}

.full-width-bg {
    width: 110%;
    height: 110%;
    cursor: pointer;
    position: fixed;
    z-index: 1500;

    .result-container {
        @include pop-up-container;
        & { 
        z-index: 2000;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        animation: appear 1s ease-in-out;
        }
          
        &.win {
            border: solid 6px $green_darkened;
            background-color: $green;
        }
    
        &.loss {
            border: solid 6px $red_darkened;
            background-color: $red;
        }
    
        & .result-header {
            font-size: $large;
            font-family: $bold;
        }
    
        & .result-bet {
            font-size: $normal;
            font-family: $medium;
        }
    
        & .result-continue {
            font-size: $minimum;
            font-family: $regular;
            margin-top: 0.25rem;
        }
    }
}