@use "./_shared" as *;

.table-elements {
    // position: absolute;
    // z-index: 0;
    // top: 38%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;

    & .dealer-rules {
        color: $white_darkened;
        font-family: $regular;
        font-style: italic;
        font-size: $minimum;
    }

    & .table-line {
        width: 100vw;
        height: 0.25rem;
        background-color: $white;
        border: none;
    }
    
    & .chip-section {
        display: flex;
        justify-content: center;
        align-items: center;

        & .table-circle {
            height: 3rem;
            width: 3rem;
            border: solid 0.25rem $white;
            border-radius: 100px;
            justify-self: center;
            // margin-left: 3rem;
            // position: relative;
            
        }

        & .remove {
            font-family: $medium;
            color: transparent;
            font-size: $minimum;
            line-height: 0.9;
            position: absolute;
            left: calc(50% + 5.25rem);
            transform: translateX(-50%);

            &.visible{
                color: $white_darkened;
            }
        } 
    }

    
    & .bet-amount {
        margin-top: 0rem;
        font-family: $medium;
        font-size: $small;
        color: $white;
        background-color: $navy;
        padding: 0.5rem;
        border-radius: 10px;
        display: flex;
        width: 5rem;
        justify-content: space-between;
        
        & .amount {
            text-align: right;
        }
    }     
}